.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    background: linear-gradient(130deg, #f36b2a, #343a40);
    border-radius: 10px;
}

    .contenedor h1 {
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
.text-lowercase {
    
}
