/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/* Provide sufficient contrast against white background */

.btninicio{
    float: left;

}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.navbar-toggler {
    float: left;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 0px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.border-bottom {
    border-bottom: 0px solid #dee2e6!important; 
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #ECF0F1;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  margin-top: 100px;
}
.pag{
    margin-top: 50px;
}
.ima {
    margin-top: -30px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}
.btn-square, .btn-sm-square, .btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-primary {
    color: #212529;
    background-color: #FFAA17;
    border-color: #FFAA17;
}




element.style {
    display: inline;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.btn-square, .btn-sm-square, .btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-primary {
    color: #212529;
    background-color: #FFAA17;
    border-color: #FFAA17;
}

.btnds {
    display: inline-block;
    font-weight: 400;
    color: #343a40;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: white;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.footer-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}


.nav-cont{
    width:100%;
}
/*INICIO PAG PLACA*/
.container-estado {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.container-estado img{
    width:100%;
    height:100%;
}
    .container-estado p {
        text-align: center;
        font-size: 3rem;
        color: WHITE;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .container-estado span {
        text-align:center;
        font-size: 3rem;
        color: red;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



